# Pre-process the data on the average number of tweets in weekly basis

The note notebook is done on compute Canada and used the data of all the tweets and their geo-locations to sepearte the country and produce the average number of tweets of each country in each week

In [1]:
import pandas as pd

In [2]:
total_df = pd.read_csv('/home/zhoulita/scratch/covid_data_unprocessed/dataFrame/tweet_df_loc_total.csv',low_memory=False,lineterminator='\n')
del total_df['Unnamed: 0']
del total_df['Unnamed: 0.1']cd

def get_week_index(df):
    return int((df['day_index']-1)/7)
total_df['week_index']= total_df.apply(get_week_index,axis = 1)

In [3]:
country_code_list = total_df['country_code'].unique().tolist()
country_idx = range(len(country_code_list))

temp_country = country_code_list[0]
temp_df = total_df[total_df['country_code']==temp_country]
country_data_week = pd.DataFrame(temp_df['week_index'].value_counts())
country_data_week.reset_index(inplace=True)
country_data_week.rename(columns={'index':"week_index",'week_index':'count'},inplace=True)
country_data_week['count'] = country_data_week['count']/7
country_data_week['country_code'] = temp_country



#loop through all the country and the week of tweets as average
for i in country_idx:
    if i ==0:
        continue
    temp_country = country_code_list[i]
    temp_df = total_df[total_df['country_code']==temp_country]
    temp_data_week = pd.DataFrame(temp_df['week_index'].value_counts())
    temp_data_week.reset_index(inplace=True)
    temp_data_week.rename(columns={'index':"week_index",'week_index':'count'},inplace=True)
    temp_data_week['count'] = temp_data_week['count']/7
    temp_data_week['country_code'] = temp_country
    country_data_week = pd.concat([country_data_week,temp_data_week])


country_data_week

    week_index       count country_code
0            0  927.142857           NG
1            1  924.285714           NG
2            5  861.714286           NG
3            6  814.285714           NG
4            4  776.000000           NG
..         ...         ...          ...
2           35    0.142857           NF
0           36    0.285714           IO
0           38    0.428571           TK
1           40    0.285714           TK
2           41    0.285714           TK

[9898 rows x 3 columns]

In [4]:
country_data_week.to_csv('/home/zhoulita/scratch/country_weekly_counts_avg.csv')